@font-face {
  src: url('../fonts/Roboto-Regular.ttf');
  font-weight: 400;
  font-family: 'Roboto';
}

@font-face {
  src: url('../fonts/Roboto-Medium.ttf');
  font-weight: 500;
  font-family: 'RobotoMeduim';
}

@font-face {
  src: url('../fonts/Roboto-Bold.ttf');
  font-weight: 700;
  font-family: 'RobotoBold';
}